.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

.up {
  --color: #2ad0b7;
  --hover: #2ad0b7;
}

button {
  color: var(--color);
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s linear;
}
button:hover,
button:focus {
  border-color: var(--hover);
  color: #000;
}

button {
  width: 200px;
  background: none;
  border: 2px solid;
  font: inherit;
  letter-spacing: 1px;
  line-height: 40px;
  font-weight: 500;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

h1 {
  font-weight: 400;
}

code {
  color: #e4cb58;
  font: inherit;
}
