.Main {
  font-family: "Roboto", sans-serif;
  background: #023447 !important;
}
.navbar a {
  color: white !important;
  font-family: "Roboto";
}

.navbar-nav {
  margin-left: auto !important;
}
.navbar-nav > li > a {
  border-bottom: 0.1875rem solid rgba(255, 255, 255, 0);
}
nav ul li {
  text-transform: uppercase;
  padding: 5px;
  margin-left: 10px;
}
nav div {
  padding: 5px;
}
.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-bottom: 0.1875rem solid orange;
}
.navbar-toggler-icon :focus {
  border: none;
}
