@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Mochiy+Pop+One&family=Mukta:wght@200&family=Roboto:wght@300&family=Yuji+Boku&display=swap");
.title {
  font-size: 38px;
  /* color: black; */
  font-family: "Indie Flower", cursive;
}
.navbar {
  background: #00719e !important;
  color: white !important;
}
